<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>管理者ページ</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ775/resC6X9oJiXQfTPEY/kefP4TaXMRdIi" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body class="loggedin">
        <nav class="navtop">
            <div>
                <h1>出退勤時間記録システム</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>ホーム</a>
                <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>ログアウト</a>
            </div>
        </nav>
        <div class="content">
            <h2>管理者ページ</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ユーザーID</th>
                        <th>ユーザー名</th>
                        <th>出勤時刻</th>
                        <th>退勤時刻</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in attendance_records %}
                    <tr>
                        <td>{{ record.user_id }}</td>
                        <td>{{ record.username }}</td>
                        <td>{{ record.check_in_time }}</td>
                        <td>{{ record.check_out_time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WOa1yAFu3Fz3Sjzj6i3YmK80u1jjCmJf5" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
